@model JDT.Models.Exercise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>JdtTask</legend>

    <div class="display-label">Name</div>
    <div class="display-field" id="Name"></div>

    <div class="display-label">Description</div>
    <div class="display-field" id="Description"></div>

    <div class="display-label">DateCreated</div>
    <div class="display-field" id="DateCreated"></div>

    <div class="display-label">DateModified</div>
    <div class="display-field" id="DateModified"></div>

    <div class="display-label">Min - Max Sets</div>
    <div class="display-field" id="MinMaxSets"></div>

    <div class="display-label">Min - Max Reps</div>
    <div class="display-field" id="MinMaxReps"></div>

    <div class="display-label">Duration</div>
    <div class="display-field" id="Duration"></div>

</fieldset>
<p>
    <a href="#" id="EditDetails">Edit</a> |
    <a href="#" id="List">Back to List</a>
</p>

@section scripts{
    @Scripts.Render("~/bundles/dashboard/jqueryplugins")
    @Scripts.Render("~/bundles/backboneunderscore")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
@Scripts.Render("~/Content/js/CrudOps/Exercises.js")

<script>
    $(document).ready(function () {
        initDetailsAuth();
    });

</script>
}



