@model JDT.Models.Plan

@{
    ViewBag.Title = "Create";
}
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">Create your plan<small> Give your plan a name and description.</small></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section class="widget">
                    <header>
                        <h4>
                            <i class="fa fa-align-left"></i>
                            Plan Creation
                        </h4>
                    </header>
                    <div class="body">
                        @using (Html.BeginForm("Create", "Plans", FormMethod.Post, new { @class = "form-horizontal", id="Create", data_validate = "parsley", novalidate = "novalidate" }))
                        {
                            <fieldset>
                                <legend class="section">Give your plan a name and description</legend>
                                <div class="row">
                                    <div class="col-sm-8">
                                        @Html.Partial("_CreateOrEdit", Model)
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-danger">Submit</button>
                                <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index")'">Back to List</button>
                            </div>
                        }
                    </div>
                </section>
            </div>
        </div>
        
        
    </div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryplugins")
    @Scripts.Render("~/bundles/backboneunderscore")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
@Scripts.Render("~/Content/js/CrudOps/Plans.js")

<script>
    $(document).ready(function () {
        initCreateAuth();
    });

</script>
}