@if (WebSecurity.IsAuthenticated && Session["Email"] != null)
{

  <nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="@ViewBag.IsDashboardActive">
            <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i> <span class="name">Dashboard</span></a>
        </li>
        <li class="panel @ViewBag.IsManagePlansActive">
            <a href="@Url.Action("Index","Plans")"><i class="fa fa-edit"></i> <span class="name">Plans</span></a>
            @*<ul id="forms-collapse" class="panel-collapse collapse">
                <li><a href="form_account.html">Account</a></li>
                <li><a href="form_article.html">Article</a></li>
                <li><a href="form_elements.html">Elements</a></li>
                <li><a href="form_validation.html">Validation</a></li>
                <li><a href="form_wizard.html">Wizard</a></li>
            </ul>*@
        </li>
        <li class="panel">
            <a href="@Url.Action("Index","InvitedUsers")"><i class="fa fa-group"></i> <span class="name">Friends</span></a>
            @*<ul id="forms-collapse" class="panel-collapse collapse">
                <li><a href="form_account.html">Account</a></li>
                <li><a href="form_article.html">Article</a></li>
                <li><a href="form_elements.html">Elements</a></li>
                <li><a href="form_validation.html">Validation</a></li>
                <li><a href="form_wizard.html">Wizard</a></li>
            </ul>*@
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#ui-collapse"><i class="fa fa-magic"></i> <span class="name">User Interface</span></a>
            <ul id="ui-collapse" class="panel-collapse collapse">
                <li><a href="ui_buttons.html">Buttons</a></li>
                <li><a href="ui_dialogs.html">Dialogs</a></li>
                <li><a href="ui_icons.html">Icons</a></li>
                <li><a href="ui_tabs.html">Tabs</a></li>
                <li><a href="ui_accordion.html">Accordion</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#components-collapse"><i class="fa fa-bookmark-o"></i> <span class="name">Components</span></a>
            <ul id="components-collapse" class="panel-collapse collapse">
                <li><a href="component_calendar.html">Calendar</a></li>
                <li><a href="component_maps.html">Maps</a></li>
                <li><a href="component_gallery.html">Gallery</a></li>
                <li><a href="component_fileupload.html">Fileupload</a></li>
                <li><a href="component_bootstrap.html">Bootstrap &nbsp; <span class="label label-important">new</span></a></li>
                <li><a href="component_list_groups.html">List Groups &nbsp; <span class="label label-important">new</span></a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#tables-collapse"><i class="fa fa-table"></i> <span class="name">Tables</span></a>
            <ul id="tables-collapse" class="panel-collapse collapse">
                <li><a href="tables_static.html">Static</a></li>
                <li><a href="tables_dynamic.html">Dynamic</a></li>
            </ul>
        </li>
        <li>
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#grid-collapse"><i class="fa fa-bars"></i> <span class="name">Grid</span></a>
            <ul id="grid-collapse" class="panel-collapse collapse">
                <li><a href="grid.html">Basic</a></li>
                <li><a href="grid_live.html">Live &nbsp; <span class="label label-important">new</span></a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#special-collapse"><i class="fa fa-asterisk"></i> <span class="name">Special</span></a>
            <ul id="special-collapse" class="panel-collapse collapse">
                <li><a href="special_search.html">Search</a></li>
                <li><a href="special_invoice.html">Invoice</a></li>
                <li><a href="special_inbox.html">Inbox <span class="label label-important">3</span></a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="special_404.html">404</a></li>
                <li><a href="landing.html">Landing</a></li>
                <li><a href="white/index.html">White <i class="fa fa-external-link-square"></i></a></li>
            </ul>
        </li>
        <li class="visible-xs">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="fa fa-sign-out"></i>
                    <span class="name">Sign Out</span>
                </a>
            }
           
        </li>
    </ul>
    <div id="sidebar-settings" class="settings">
    
    
    <button type="button" data-value="icons" class="btn-icons btn btn-transparent btn-sm">Icons</button>
    <button type="button" data-value="auto" class="btn-auto btn btn-transparent btn-sm">Auto</button>
    
</div>
</nav>
}
else
{
    <nav id="sidebar" class="sidebar nav-collapse collapse">
        <ul id="side-nav" class="side-nav">
            
            <li class="visible-xs">
                <a href="@Url.Action("Login","Account")">
                    <i class="fa fa-sign-in"></i>
                    <span class="name">Sign In</span>
                </a>
            </li>
            <li class="visible-xs">
                <a href="@Url.Action("Register","Account")">
                    <i class="fa fa-random"></i>
                    <span class="name">Register</span>
                </a>
            </li>
            <li class="panel">
                <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> <span class="name">Home</span></a>
            </li>
            <li class="panel">
                <a href="@Url.Action("AboutUs","Home")"><i class="fa fa-info"></i> <span class="name">About Us</span></a>
            </li>
            <li class="panel">
                <a href="@Url.Action("ContactUs","Home")"><i class="fa fa-phone"></i> <span class="name">Contact Us</span></a>
            </li>
        </ul>

    </nav>
}


