<script>
    function setSideNav(authEmail) {
        if (authEmail) {
            $('#side-nav').append("<li class=\"@ViewBag.IsDashboardActive\">"
                + "<a href=\"@Url.Action("Index","Dashboard")\">"
                            + "<i class=\"fa fa-home\"></i>"
                            + "<span class=\"name\">Dashboard</span>"
                + "</a>"
                + "</li>"
                + "<li class=\"panel @ViewBag.IsManagePlansActive\">"
                + "<a href=\"@Url.Action("Index","Plans")\">"
                + "<i class=\"fa fa-edit\"></i>"
                + "<span class=\"name\">Plans</span></a>"
                + "</li>"
                + "<li class=\"panel\">"
                + "<a href=\"@Url.Action("Index","InvitedUsers")\">"
                + "<i class=\"fa fa-group\"></i>"
                + "<span class=\"name\">Friends</span>"
                + "</a>"
                + "</li>"
                + "<li class=\"visible-xs\">"
                + "<a href=\"#\" id=\"logOutSidNav\">"
                + "<i class=\"fa fa-sign-out\"></i>"
                + "<span class=\"name\">Sign Out</span>"
                + "</a>"
                + "</li>");
        }
        else {
            $('#side-nav').append("<li class=\"visible-xs\">"
                + "<a href=\"@Url.Action("Login","Account")\">"
                + "<i class=\"fa fa-sign-in\"></i>"
                + "<span class=\"name\">Sign In</span>"
                + "</a>"
                + "</li>"
                + "<li class=\"visible-xs\">"
                + "<a href=\"@Url.Action("Register","Account")\">"
                + "<i class=\"fa fa-random\"></i>"
                + "<span class=\"name\">Register</span>"
                + "</a>"
                + "</li>"
                + "<li class=\"panel\">"
                + "<a href=\"@Url.Action("Index","Home")\">"
                + "<i class=\"fa fa-home\"></i>"
                + "<span class=\"name\">Home</span>"
                + "</a>"
                + "</li>"
                + "<li class=\"panel\">"
                + "<a href=\"@Url.Action("AboutUs","Home")\">"
                + "<i class=\"fa fa-info\"></i>"
                + "<span class=\"name\">About Us</span>"
                + "</a>"
                + "</li>"
                + "<li class=\"panel\">"
                + "<a href=\"@Url.Action("ContactUs","Home")\">"
                + "<i class=\"fa fa-phone\"></i>" 
                + "<span class=\"name\">Contact Us</span>"
                + "</a>"
                + "</li>");

        }
    }
</script>



