@{
    ViewBag.Title = "Home Page";
}
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">@ViewBag.Title<small> Lorem ipsum dolor sit amet, consectetur adipiscing</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <section class="widget tiny-x2">
                <header>
                    <h4>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.<br /><br />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                    </h4>
                </header>
                <div class="body">
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <section class="widget tiny">
                <header>
                    <h4>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                    </h4>
                </header>
                <div class="body">
                </div>
            </section>
            <section class="widget tiny">
                <header>
                    <h4>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                    </h4>
                </header>
                <div class="body">
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <section class="widget tiny">
                <header>
                    <h4>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                    </h4>
                </header>
                <div class="body">
                </div>
            </section>
            <section class="widget tiny">
                <header>
                    <h4>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                    </h4>
                </header>
                <div class="body">
                </div>
            </section>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/dashboard/jqueryplugins")
    @Scripts.Render("~/bundles/backboneunderscore")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
}