<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Dashboard <small>Statistics and more</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <section class="widget">
                <header>
                    <h4>
                        <i class="fa fa-group"></i>
                        Visits
                        <small>
                            Based on a three months data
                        </small>
                    </h4>
                </header>
                <div class="body no-margin">
                    <div id="visits-chart" class="chart visits-chart">
                        <svg><g class="nvd3 nv-wrap nv-lineChart" transform="translate(25,28)"><g><g class="nv-x nv-axis" transform="translate(0,147)"><g class="nvd3 nv-wrap nv-axis"><g><g transform="translate(41.271057674010216,0)" style="opacity: 1;"><line class="tick" y2="6" x2="0"></line><text y="13" dy=".71em" text-anchor="middle" x="0">Sep 23</text></g><g transform="translate(149.42878436621965,0)" style="opacity: 1;"><line class="tick" y2="6" x2="0"></line><text y="13" dy=".71em" text-anchor="middle" x="0">Oct 05</text></g><g transform="translate(257.5865110584291,0)" style="opacity: 1;"><line class="tick" y2="6" x2="0"></line><text y="13" dy=".71em" text-anchor="middle" x="0">Oct 17</text></g><g transform="translate(365.7442377506386,0)" style="opacity: 1;"><line class="tick" y2="6" x2="0"></line><text y="13" dy=".71em" text-anchor="middle" x="0">Oct 28</text></g><g transform="translate(473.901964442848,0)" style="opacity: 1;"><line class="tick" y2="6" x2="0"></line><text y="13" dy=".71em" text-anchor="middle" x="0">Nov 09</text></g><path class="domain" d="M0,6V0H542V6"></path><text class="nv-axislabel" text-anchor="middle" y="36" x="271"></text></g></g></g><g class="nv-y nv-axis"><g class="nvd3 nv-wrap nv-axis"><g><g transform="translate(0,92.25941422594143)" style="opacity: 1;"><line class="tick" x2="542" y2="0"></line><text x="-3" dy=".32em" text-anchor="end" y="0">100</text></g><g transform="translate(0,30.753138075313828)" style="opacity: 1;"><line class="tick" x2="542" y2="0"></line><text x="-3" dy=".32em" text-anchor="end" y="0">200</text></g><path class="domain" d="M0,0H0V147H0"></path><text class="nv-axislabel" text-anchor="middle" transform="rotate(-90)" y="-63" x="-73.5"></text></g></g></g><g class="nv-linesWrap"><g class="nvd3 nv-wrap nv-line" transform="translate(0,0)"><defs><clipPath id="nv-edge-clip-42405"><rect width="542" height="147"></rect></clipPath></defs><g clip-path=""><g class="nv-groups"><g class="nv-group nv-series-0" style="stroke-opacity: 1; fill-opacity: 0.5; fill: #eac85e; stroke: #eac85e;"><path class="nv-area" d="M0,147L18.689655172413794,147L37.37931034482759,147L56.06896551724138,147L74.75862068965517,147L93.44827586206895,147L112.13793103448276,147L130.82758620689654,147L149.51724137931035,147L168.20689655172416,147L186.8965517241379,147L205.58620689655172,147L224.27586206896552,147L242.9655172413793,147L261.6551724137931,147L280.3448275862069,147L299.0344827586207,147L317.7241379310345,147L336.4137931034483,147L355.10344827586204,147L373.7931034482758,147L392.48275862068965,147L411.17241379310343,147L429.86206896551727,147L448.55172413793105,147L467.2413793103448,147L485.9310344827586,147L504.6206896551724,147L523.3103448275862,147L542,147L542,143.9246861924686L523.3103448275862,146.38493723849373L504.6206896551724,142.0794979079498L485.9310344827586,145.76987447698744L467.2413793103448,143.30962343096235L448.55172413793105,147L429.86206896551727,145.15481171548117L411.17241379310343,145.15481171548117L392.48275862068965,145.76987447698744L373.7931034482758,144.5397489539749L355.10344827586204,143.9246861924686L336.4137931034483,145.15481171548117L317.7241379310345,142.0794979079498L299.0344827586207,134.0836820083682L280.3448275862069,111.94142259414227L261.6551724137931,83.03347280334728L242.9655172413793,45.51464435146444L224.27586206896552,10.456066945606722L205.58620689655172,2.842170943040401e-14L186.8965517241379,17.221757322175733L168.20689655172416,45.51464435146444L149.51724137931035,83.64853556485356L130.82758620689654,113.17154811715481L112.13793103448276,130.39330543933056L93.44827586206895,139.6192468619247L74.75862068965517,143.30962343096235L56.06896551724138,145.76987447698744L37.37931034482759,143.9246861924686L18.689655172413794,143.9246861924686L0,145.76987447698744Z"></path><path class="nv-line" d="M0,145.76987447698744L18.689655172413794,143.9246861924686L37.37931034482759,143.9246861924686L56.06896551724138,145.76987447698744L74.75862068965517,143.30962343096235L93.44827586206895,139.6192468619247L112.13793103448276,130.39330543933056L130.82758620689654,113.17154811715481L149.51724137931035,83.64853556485356L168.20689655172416,45.51464435146444L186.8965517241379,17.221757322175733L205.58620689655172,2.842170943040401e-14L224.27586206896552,10.456066945606722L242.9655172413793,45.51464435146444L261.6551724137931,83.03347280334728L280.3448275862069,111.94142259414227L299.0344827586207,134.0836820083682L317.7241379310345,142.0794979079498L336.4137931034483,145.15481171548117L355.10344827586204,143.9246861924686L373.7931034482758,144.5397489539749L392.48275862068965,145.76987447698744L411.17241379310343,145.15481171548117L429.86206896551727,145.15481171548117L448.55172413793105,147L467.2413793103448,143.30962343096235L485.9310344827586,145.76987447698744L504.6206896551724,142.0794979079498L523.3103448275862,146.38493723849373L542,143.9246861924686"></path></g><g class="nv-group nv-series-1" style="stroke-opacity: 1; fill-opacity: 0.5; fill: #cf6d51; stroke: #cf6d51;"><path class="nv-line" d="M0,146.38493723849373L18.689655172413794,143.9246861924686L37.37931034482759,145.76987447698744L56.06896551724138,142.69456066945608L74.75862068965517,147L93.44827586206895,147L112.13793103448276,142.69456066945608L130.82758620689654,145.76987447698744L149.51724137931035,142.69456066945608L168.20689655172416,136.5439330543933L186.8965517241379,105.17573221757323L205.58620689655172,59.04602510460252L224.27586206896552,82.41841004184101L242.9655172413793,126.08786610878661L261.6551724137931,142.0794979079498L280.3448275862069,143.9246861924686L299.0344827586207,143.9246861924686L317.7241379310345,142.0794979079498L336.4137931034483,146.38493723849373L355.10344827586204,145.76987447698744L373.7931034482758,137.15899581589957L392.48275862068965,124.24267782426779L411.17241379310343,90.4142259414226L429.86206896551727,47.35983263598327L448.55172413793105,33.8284518828452L467.2413793103448,59.66108786610879L485.9310344827586,100.25523012552301L504.6206896551724,132.85355648535565L523.3103448275862,142.69456066945608L542,140.84937238493723"></path></g></g><g class="nv-scatterWrap" clip-path=""><g class="nvd3 nv-wrap nv-scatter nv-chart-42405" transform="translate(0,0)"><defs><clipPath id="nv-edge-clip-42405"><rect width="542" height="147"></rect></clipPath><clipPath class="nv-point-clips" id="nv-points-clip-42405"><circle r="25" cx="0" cy="145.7698744770315"></circle><circle r="25" cx="18.68965517241518" cy="143.9246861924701"></circle><circle r="25" cx="37.3793103448414" cy="143.92468619255507"></circle><circle r="25" cx="56.06896551726085" cy="145.76987447711272"></circle><circle r="25" cx="74.75862068969734" cy="143.30962343104594"></circle><circle r="25" cx="93.44827586209419" cy="139.61924686193325"></circle><circle r="25" cx="112.13793103457614" cy="130.39330543935537"></circle><circle r="25" cx="130.8275862069502" cy="113.17154811720751"></circle><circle r="25" cx="149.51724137932294" cy="83.6485355648795"></circle><circle r="25" cx="168.2068965518026" cy="45.514644351475035"></circle><circle r="25" cx="186.89655172432404" cy="17.22175732218715"></circle><circle r="25" cx="205.58620689668834" cy="2.842170943042989e-14"></circle><circle r="25" cx="224.27586206903698" cy="10.45606694561589"></circle><circle r="25" cx="242.9655172414751" cy="45.514644351474466"></circle><circle r="25" cx="261.6551724138619" cy="83.03347280338716"></circle><circle r="25" cx="280.3448275862307" cy="111.9414225942086"></circle><circle r="25" cx="299.034482758746" cy="134.0836820083962"></circle><circle r="25" cx="317.72413793118596" cy="142.0794979079549"></circle><circle r="25" cx="336.41379310368893" cy="145.15481171548228"></circle><circle r="25" cx="355.1034482759649" cy="143.92468619257545"></circle><circle r="25" cx="373.79310344857475" cy="144.5397489540328"></circle><circle r="25" cx="392.4827586206926" cy="145.76987447712904"></circle><circle r="25" cx="411.1724137934577" cy="145.15481171561433"></circle><circle r="25" cx="429.8620689655815" cy="145.1548117154949"></circle><circle r="25" cx="448.55172413836004" cy="147.0000000000236"></circle><circle r="25" cx="467.24137931068753" cy="143.30962343105313"></circle><circle r="25" cx="485.93103448322967" cy="145.76987447708527"></circle><circle r="25" cx="504.6206896552944" cy="142.07949790804196"></circle><circle r="25" cx="523.3103448278462" cy="146.38493723852724"></circle><circle r="25" cx="542.0000000002001" cy="143.9246861925326"></circle><circle r="25" cx="0" cy="146.38493723863934"></circle><circle r="25" cx="18.689655172419982" cy="143.9246861925212"></circle><circle r="25" cx="37.379310344834614" cy="145.76987447713162"></circle><circle r="25" cx="56.068965517297066" cy="142.6945606695979"></circle><circle r="25" cx="74.75862068967056" cy="147.00000000012415"></circle><circle r="25" cx="93.44827586214053" cy="147.00000000001663"></circle><circle r="25" cx="112.13793103455798" cy="142.6945606695497"></circle><circle r="25" cx="130.82758620691646" cy="145.76987447704752"></circle><circle r="25" cx="149.51724137939263" cy="142.6945606695011"></circle><circle r="25" cx="168.20689655188218" cy="136.54393305441013"></circle><circle r="25" cx="186.89655172424892" cy="105.1757322176198"></circle><circle r="25" cx="205.5862068966919" cy="59.04602510462227"></circle><circle r="25" cx="224.27586206896564" cy="82.41841004184738"></circle><circle r="25" cx="242.96551724145726" cy="126.08786610883524"></circle><circle r="25" cx="261.65517241390455" cy="142.07949790808934"></circle><circle r="25" cx="280.344827586263" cy="143.92468619252435"></circle><circle r="25" cx="299.03448275874354" cy="143.92468619247776"></circle><circle r="25" cx="317.7241379311764" cy="142.07949790797292"></circle><circle r="25" cx="336.4137931036481" cy="146.38493723850218"></circle><circle r="25" cx="355.1034482760647" cy="145.76987447699966"></circle><circle r="25" cx="373.793103448314" cy="137.1589958159096"></circle><circle r="25" cx="392.4827586208423" cy="124.24267782429455"></circle><circle r="25" cx="411.1724137933714" cy="90.41422594144576"></circle><circle r="25" cx="429.86206896552903" cy="47.35983263599523"></circle><circle r="25" cx="448.5517241379616" cy="33.82845188286943"></circle><circle r="25" cx="467.2413793104302" cy="59.66108786615046"></circle><circle r="25" cx="485.93103448318664" cy="100.2552301256011"></circle><circle r="25" cx="504.6206896553028" cy="132.85355648543987"></circle><circle r="25" cx="523.3103448276298" cy="142.6945606695552"></circle><circle r="25" cx="542.0000000002809" cy="140.84937238500146"></circle></clipPath></defs><g clip-path=""><g class="nv-groups"><g class="nv-group nv-series-0" style="stroke-opacity: 1; fill-opacity: 0.5; stroke: #eac85e; fill: #eac85e;"><circle cx="0" cy="145.76987447698744" r="2.256758334191025" class="nv-point nv-point-0"></circle><circle cx="18.689655172413794" cy="143.9246861924686" r="2.256758334191025" class="nv-point nv-point-1"></circle><circle cx="37.37931034482759" cy="143.9246861924686" r="2.256758334191025" class="nv-point nv-point-2"></circle><circle cx="56.06896551724138" cy="145.76987447698744" r="2.256758334191025" class="nv-point nv-point-3"></circle><circle cx="74.75862068965517" cy="143.30962343096235" r="2.256758334191025" class="nv-point nv-point-4"></circle><circle cx="93.44827586206895" cy="139.6192468619247" r="2.256758334191025" class="nv-point nv-point-5"></circle><circle cx="112.13793103448276" cy="130.39330543933056" r="2.256758334191025" class="nv-point nv-point-6"></circle><circle cx="130.82758620689654" cy="113.17154811715481" r="2.256758334191025" class="nv-point nv-point-7"></circle><circle cx="149.51724137931035" cy="83.64853556485356" r="2.256758334191025" class="nv-point nv-point-8"></circle><circle cx="168.20689655172416" cy="45.51464435146444" r="2.256758334191025" class="nv-point nv-point-9"></circle><circle cx="186.8965517241379" cy="17.221757322175733" r="2.256758334191025" class="nv-point nv-point-10"></circle><circle cx="205.58620689655172" cy="2.842170943040401e-14" r="2.256758334191025" class="nv-point nv-point-11"></circle><circle cx="224.27586206896552" cy="10.456066945606722" r="2.256758334191025" class="nv-point nv-point-12"></circle><circle cx="242.9655172413793" cy="45.51464435146444" r="2.256758334191025" class="nv-point nv-point-13"></circle><circle cx="261.6551724137931" cy="83.03347280334728" r="2.256758334191025" class="nv-point nv-point-14"></circle><circle cx="280.3448275862069" cy="111.94142259414227" r="2.256758334191025" class="nv-point nv-point-15"></circle><circle cx="299.0344827586207" cy="134.0836820083682" r="2.256758334191025" class="nv-point nv-point-16"></circle><circle cx="317.7241379310345" cy="142.0794979079498" r="2.256758334191025" class="nv-point nv-point-17"></circle><circle cx="336.4137931034483" cy="145.15481171548117" r="2.256758334191025" class="nv-point nv-point-18"></circle><circle cx="355.10344827586204" cy="143.9246861924686" r="2.256758334191025" class="nv-point nv-point-19"></circle><circle cx="373.7931034482758" cy="144.5397489539749" r="2.256758334191025" class="nv-point nv-point-20"></circle><circle cx="392.48275862068965" cy="145.76987447698744" r="2.256758334191025" class="nv-point nv-point-21"></circle><circle cx="411.17241379310343" cy="145.15481171548117" r="2.256758334191025" class="nv-point nv-point-22"></circle><circle cx="429.86206896551727" cy="145.15481171548117" r="2.256758334191025" class="nv-point nv-point-23"></circle><circle cx="448.55172413793105" cy="147" r="2.256758334191025" class="nv-point nv-point-24"></circle><circle cx="467.2413793103448" cy="143.30962343096235" r="2.256758334191025" class="nv-point nv-point-25"></circle><circle cx="485.9310344827586" cy="145.76987447698744" r="2.256758334191025" class="nv-point nv-point-26"></circle><circle cx="504.6206896551724" cy="142.0794979079498" r="2.256758334191025" class="nv-point nv-point-27"></circle><circle cx="523.3103448275862" cy="146.38493723849373" r="2.256758334191025" class="nv-point nv-point-28"></circle><circle cx="542" cy="143.9246861924686" r="2.256758334191025" class="nv-point nv-point-29"></circle></g><g class="nv-group nv-series-1" style="stroke-opacity: 1; fill-opacity: 0.5; stroke: #cf6d51; fill: #cf6d51;"><circle cx="0" cy="146.38493723849373" r="2.256758334191025" class="nv-point nv-point-0"></circle><circle cx="18.689655172413794" cy="143.9246861924686" r="2.256758334191025" class="nv-point nv-point-1"></circle><circle cx="37.37931034482759" cy="145.76987447698744" r="2.256758334191025" class="nv-point nv-point-2"></circle><circle cx="56.06896551724138" cy="142.69456066945608" r="2.256758334191025" class="nv-point nv-point-3"></circle><circle cx="74.75862068965517" cy="147" r="2.256758334191025" class="nv-point nv-point-4"></circle><circle cx="93.44827586206895" cy="147" r="2.256758334191025" class="nv-point nv-point-5"></circle><circle cx="112.13793103448276" cy="142.69456066945608" r="2.256758334191025" class="nv-point nv-point-6"></circle><circle cx="130.82758620689654" cy="145.76987447698744" r="2.256758334191025" class="nv-point nv-point-7"></circle><circle cx="149.51724137931035" cy="142.69456066945608" r="2.256758334191025" class="nv-point nv-point-8"></circle><circle cx="168.20689655172416" cy="136.5439330543933" r="2.256758334191025" class="nv-point nv-point-9"></circle><circle cx="186.8965517241379" cy="105.17573221757323" r="2.256758334191025" class="nv-point nv-point-10"></circle><circle cx="205.58620689655172" cy="59.04602510460252" r="2.256758334191025" class="nv-point nv-point-11"></circle><circle cx="224.27586206896552" cy="82.41841004184101" r="2.256758334191025" class="nv-point nv-point-12"></circle><circle cx="242.9655172413793" cy="126.08786610878661" r="2.256758334191025" class="nv-point nv-point-13"></circle><circle cx="261.6551724137931" cy="142.0794979079498" r="2.256758334191025" class="nv-point nv-point-14"></circle><circle cx="280.3448275862069" cy="143.9246861924686" r="2.256758334191025" class="nv-point nv-point-15"></circle><circle cx="299.0344827586207" cy="143.9246861924686" r="2.256758334191025" class="nv-point nv-point-16"></circle><circle cx="317.7241379310345" cy="142.0794979079498" r="2.256758334191025" class="nv-point nv-point-17"></circle><circle cx="336.4137931034483" cy="146.38493723849373" r="2.256758334191025" class="nv-point nv-point-18"></circle><circle cx="355.10344827586204" cy="145.76987447698744" r="2.256758334191025" class="nv-point nv-point-19"></circle><circle cx="373.7931034482758" cy="137.15899581589957" r="2.256758334191025" class="nv-point nv-point-20"></circle><circle cx="392.48275862068965" cy="124.24267782426779" r="2.256758334191025" class="nv-point nv-point-21"></circle><circle cx="411.17241379310343" cy="90.4142259414226" r="2.256758334191025" class="nv-point nv-point-22"></circle><circle cx="429.86206896551727" cy="47.35983263598327" r="2.256758334191025" class="nv-point nv-point-23"></circle><circle cx="448.55172413793105" cy="33.8284518828452" r="2.256758334191025" class="nv-point nv-point-24"></circle><circle cx="467.2413793103448" cy="59.66108786610879" r="2.256758334191025" class="nv-point nv-point-25"></circle><circle cx="485.9310344827586" cy="100.25523012552301" r="2.256758334191025" class="nv-point nv-point-26"></circle><circle cx="504.6206896551724" cy="132.85355648535565" r="2.256758334191025" class="nv-point nv-point-27"></circle><circle cx="523.3103448275862" cy="142.69456066945608" r="2.256758334191025" class="nv-point nv-point-28"></circle><circle cx="542" cy="140.84937238493723" r="2.256758334191025" class="nv-point nv-point-29"></circle></g></g><g class="nv-point-paths" clip-path="url(#nv-points-clip-42405)"><path class="nv-path-0" d="M-5.942901638009811,-10L-10,-10L-9.999999999883585,146.0774058578354L9.466275156145642,146.0774058578354L9.340499761803857,144.80344440406054Z"></path><path class="nv-path-1" d="M24.52333753449114,-10L-5.942901638009813,-10.000000000000007L9.340499761803857,144.80344440406054L28.034482758632286,143.04633476753995L28.034482759304176,-4.665414847148631Z"></path><path class="nv-path-2" d="M34.143808016804,3.4564014008582724L28.034482759304176,-4.665414847148631L28.034482758632286,143.04633476753995L28.03448275862902,144.84728033480897L46.7241379310468,144.84728033487772L46.784861716026285,144.232217573246L37.99019089869428,10.612223626565907Z"></path><path class="nv-path-3" d="M46.784861716026285,144.23221757324598L46.72413793104679,144.84728033487772L46.72413793105908,157L64.71512533722355,157L65.49475815009255,145.1548117155178L65.37331058018617,144.2322175734649Z"></path><path class="nv-path-4" d="M69.51834568648616,67.5991986468877L68.29628290952863,64.06259759462137L68.02805569444014,63.56358688086553L65.37331058018616,144.2322175734649L65.49475815009255,145.1548117155178L84.10344827589493,145.1548117156528L84.467790985703,143.30962343103133Z"></path><path class="nv-path-5" d="M69.51834568648616,67.5991986468877L84.467790985703,143.30962343103133L102.43888136936552,143.30962343091852L103.5521507604187,136.54393305443986Z"></path><path class="nv-path-6" d="M68.29628290952863,64.06259759462137L69.51834568648616,67.5991986468877L103.55215076041867,136.54393305443986L122.74783747418229,136.54393305446823L128.5672002001278,129.47071129712515Z"></path><path class="nv-path-7" d="M62.32827426712358,49.13051379990766L68.02805569444014,63.56358688086553L68.29628290952864,64.06259759462137L128.56720020012773,129.47071129712515L137.74346239451936,129.47071129713467L152.45695072389796,120.15628165440233L158.71469799035754,110.14830524285442Z"></path><path class="nv-path-8" d="M34.143808016804,3.4564014008582724L37.99019089869428,10.612223626565907L62.32827426712358,49.13051379990766L158.71469799035754,110.14830524285443L159.25398361141953,109.95775818629507L179.25485943532146,75.22871489041431L178.89011173351054,74.39745718813995Z"></path><path class="nv-path-9" d="M114.92746370750281,-9.999999999999993L24.52333753449114,-10L28.034482759304176,-4.665414847148631L34.143808016804,3.4564014008582724L178.89011173351054,74.39745718813995L191.20247386579754,40.385584075015444Z"></path><path class="nv-path-10" d="M179.0922113404115,-10L114.92746370750274,-10L191.2024738657975,40.38558407501546L208.95528998117692,32.45253397929473L206.69290646188466,19.95324255750107Z"></path><path class="nv-path-11" d="M179.0922113404115,-10.000000000000114L206.69290646188466,19.95324255750107L223.45047135708245,-10Z"></path><path class="nv-path-12" d="M223.45047135708245,-10L206.69290646188466,19.95324255750107L208.95528998117692,32.45253397929472L218.415389961171,36.09126949627988L304.8746811819419,-9.999999999999993Z"></path><path class="nv-path-13" d="M304.8746811819419,-10L218.41538996117106,36.091269496279885L227.35815426723684,60.794909755528515L243.19441543351613,68.81507395510705L336.65249157009595,22.259803224677228L336.97098546643605,-10Z"></path><path class="nv-path-14" d="M243.1944154335162,68.81507395510705L242.67505832205697,100.37804909029944L256.94665018951855,106.57326194283776L338.02144218246286,54.156542096425085L339.04022407077406,33.51834235469049L336.65249157009606,22.259803224677224Z"></path><path class="nv-path-15" d="M256.9466501895186,106.57326194283776L262.743488280929,121.8903138798278L272.4877327316863,127.93305439337443L283.86017181579814,127.93305439336294L329.0337374485153,89.80332477563917L337.69052381065876,79.06658393695183L340.72567020930006,73.94282140418288L341.06828809859627,72.67318888432246L338.02144218246286,54.156542096425085Z"></path><path class="nv-path-16" d="M283.86017181579814,127.93305439336291L289.68965517249103,139.00418410043468L307.9846057426859,139.0041841004392L308.7122100433744,137.3034604153723L329.0337374485153,89.80332477563917Z"></path><path class="nv-path-17" d="M308.7122100433744,137.3034604153723L326.4941766438429,146.72734176830198L326.7147434385249,145.76987447667042L337.6905238106587,79.06658393695183L329.0337374485153,89.80332477563917Z"></path><path class="nv-path-18" d="M326.71474343852486,145.76987447667042L345.7485000590388,145.76987447730193L345.7788619515142,144.8472803352917L341.28375282797856,76.55177884686704L340.7256702093001,73.94282140418288L337.69052381065876,79.06658393695183Z"></path><path class="nv-path-19" d="M341.28375282797856,76.55177884686704L345.7788619515142,144.8472803352917L364.4280346006338,144.84728033428345L364.5596028013548,140.8493723852974Z"></path><path class="nv-path-20" d="M364.5596028013548,140.8493723852974L364.42803460063374,144.84728033428345L365.2279086751564,157L382.358298221703,157L383.42130869785814,140.84937238463104Z"></path><path class="nv-path-21" d="M386.1133964978966,135.00627615066747L383.42130869785814,140.84937238463104L382.358298221703,157L402.20728198267705,157L401.4834847589375,135.00627615077434Z"></path><path class="nv-path-22" d="M401.4834847589375,135.00627615077434L402.20728198267705,157L420.5172413795953,156.99999999999997L420.51724137934605,117.99536995996328Z"></path><path class="nv-path-23" d="M420.6630558120587,117.73473453359009L420.51724137934605,117.99536995996326L420.5172413795953,157L438.12853301012876,156.99999999999997L442.7495958678128,110.19389784446325Z"></path><path class="nv-path-24" d="M446.96200316675913,107.41127478510879L442.7495958678128,110.19389784446325L438.12853301012876,157L460.2354501630966,157L451.0967319269222,110.71759782259545Z"></path><path class="nv-path-25" d="M451.0967319269222,110.71759782259544L460.2354501630966,157L474.94597622461254,157L479.41998352868603,123.01255230134934Z"></path><path class="nv-path-26" d="M484.0115999578866,123.01255230134501L479.41998352868603,123.01255230134934L474.94597622461254,157L497.85765564777455,157L494.00066258495053,137.46652719673128Z"></path><path class="nv-path-27" d="M494.00066258495053,137.46652719673128L497.8576556477746,157L511.02426914921426,157L513.8946728256503,144.5397489545932L514.1274473347067,137.46652719674952Z"></path><path class="nv-path-28" d="M513.8946728256504,144.5397489545932L511.0242691492144,157L534.2144380397513,157L532.5742073673335,144.53974895349813Z"></path><path class="nv-path-29" d="M552,142.38702928902987L532.7158961988956,142.387029288523L532.5742073673334,144.53974895349813L534.2144380397461,157L552,157Z"></path><path class="nv-path-30" d="M-10.000000000000004,146.0774058578354L-10.000000000000002,157L10.904093211999308,157L9.466275156145638,146.0774058578354Z"></path><path class="nv-path-31" d="M9.340499761803859,144.80344440406054L9.466275156145642,146.0774058578354L10.90409321199931,157L26.834671646786653,157L28.03448275862902,144.84728033480897L28.034482758632286,143.04633476753995Z"></path><path class="nv-path-32" d="M28.03448275862902,144.84728033480897L26.834671646786653,157L46.72413793105909,157L46.7241379310468,144.84728033487772Z"></path><path class="nv-path-33" d="M37.990190898694316,10.612223626565907L46.784861716026285,144.23221757324598L65.37331058018616,144.2322175734649L68.02805569444016,63.56358688086553L62.328274267123604,49.13051379990766Z"></path><path class="nv-path-34" d="M65.49475815009255,145.1548117155178L64.71512533722355,157L84.10344827596309,157L84.10344827589495,145.1548117156528Z"></path><path class="nv-path-35" d="M84.46779098570302,143.30962343103133L84.10344827589495,145.1548117156528L84.10344827596309,157L105.59266270913126,157L102.43888136936553,143.30962343091852Z"></path><path class="nv-path-36" d="M103.5521507604187,136.54393305443986L102.43888136936552,143.30962343091852L105.59266270913125,157L119.38186712617211,157L122.74783747418229,136.54393305446823Z"></path><path class="nv-path-37" d="M128.5672002001278,129.47071129712515L122.74783747418229,136.54393305446823L119.38186712617211,157L142.27330528774363,157L137.74346239451936,129.47071129713467Z"></path><path class="nv-path-38" d="M137.74346239451936,129.47071129713464L142.27330528774363,157L164.581946578965,157L152.45695072389802,120.15628165440233Z"></path><path class="nv-path-39" d="M159.25398361141953,109.95775818629505L158.71469799035754,110.14830524285442L152.45695072389802,120.15628165440233L164.581946578965,157L209.17849726979685,157L206.5394167969797,138.1311445246533Z"></path><path class="nv-path-40" d="M179.25485943532146,75.22871489041431L159.25398361141953,109.95775818629505L206.53941679697968,138.1311445246533L216.43106927839926,111.60995234149192L199.2015883117292,83.31022045048826Z"></path><path class="nv-path-41" d="M191.20247386579754,40.385584075015444L178.89011173351054,74.39745718813995L179.2548594353214,75.22871489041431L199.2015883117292,83.31022045048826L227.35815426723684,60.79490975552855L218.41538996117106,36.091269496279885L208.95528998117692,32.452533979294756Z"></path><path class="nv-path-42" d="M199.2015883117292,83.31022045048826L216.43106927839926,111.60995234149192L242.675058322057,100.37804909029944L243.1944154335162,68.81507395510705L227.35815426723684,60.794909755528515Z"></path><path class="nv-path-43" d="M242.67505832205697,100.37804909029944L216.43106927839935,111.60995234149192L206.53941679697968,138.1311445246533L209.17849726979685,157L232.70220780568008,157L262.743488280929,121.89031387982783L256.9466501895186,106.57326194283776Z"></path><path class="nv-path-44" d="M232.70220780568008,157L269.6180175334638,157L272.4877327316863,127.93305439337445L262.743488280929,121.8903138798278Z"></path><path class="nv-path-45" d="M272.4877327316863,127.93305439337442L269.6180175334638,157L289.6896551725359,157L289.68965517249103,139.00418410043468L283.86017181579814,127.93305439336294Z"></path><path class="nv-path-46" d="M289.68965517249103,139.00418410043468L289.6896551725359,157L309.76129281163486,157L307.98460574268597,139.0041841004392Z"></path><path class="nv-path-47" d="M308.7122100433744,137.3034604153723L307.98460574268597,139.0041841004392L309.76129281163486,157L324.12771742500274,157L326.4941766438428,146.72734176830198Z"></path><path class="nv-path-48" d="M326.7147434385249,145.76987447667042L326.4941766438428,146.72734176830198L324.12771742500274,157L346.1180752038069,156.9999999999999L345.74850005903886,145.76987447730193Z"></path><path class="nv-path-49" d="M345.7788619515142,144.8472803352917L345.7485000590388,145.76987447730193L346.1180752038068,157L365.22790867515647,157L364.4280346006338,144.84728033428345Z"></path><path class="nv-path-50" d="M345.4652330150265,76.18919225844866L341.06828809859627,72.67318888432243L340.7256702093001,73.94282140418288L341.28375282797856,76.55177884686704L364.5596028013547,140.8493723852974L383.42130869785797,140.84937238463107L386.1133964978966,135.00627615066747Z"></path><path class="nv-path-51" d="M345.4652330150265,76.1891922584487L386.1133964978966,135.00627615066747L401.48348475893744,135.00627615077434L420.51724137934605,117.99536995996328L420.6630558120587,117.7347345335901Z"></path><path class="nv-path-52" d="M339.040224070774,33.518342354690475L338.02144218246286,54.15654209642506L341.06828809859627,72.67318888432243L345.4652330150265,76.18919225844866L420.6630558120587,117.7347345335901L442.74959586781256,110.19389784446321L446.9620031667592,107.41127478510882L448.8977627816464,92.70599511161585L440.6196378061063,77.61335960030459Z"></path><path class="nv-path-53" d="M402.57654695599706,-10.000000000000007L336.9709854664361,-10L336.65249157009606,22.259803224677224L339.040224070774,33.518342354690475L440.6196378061063,77.61335960030459L448.55379766875836,53.504159499723556Z"></path><path class="nv-path-54" d="M402.57654695599706,-9.999999999999986L448.5537976687584,53.504159499723585L536.3285490294545,-10Z"></path><path class="nv-path-55" d="M552,-9.999999999999998L536.3285490294545,-10L448.55379766875836,53.504159499723556L440.6196378061063,77.61335960030459L448.8977627816464,92.70599511161583L552,45.23744044096866Z"></path><path class="nv-path-56" d="M552,45.237440440968655L448.8977627816464,92.70599511161583L446.96200316675913,107.41127478510879L451.0967319269222,110.71759782259544L479.41998352868603,123.01255230134934L484.0115999578866,123.01255230134501L532.1778054955673,95.39733787249673L552,68.01875864202162Z"></path><path class="nv-path-57" d="M484.0115999578866,123.01255230134501L494.00066258495053,137.46652719673128L514.1274473347067,137.46652719674952L529.3717914058534,108.51505754104865L532.1778054955674,95.39733787249672Z"></path><path class="nv-path-58" d="M514.1274473347067,137.4665271967495L513.8946728256503,144.5397489545932L532.5742073673334,144.53974895349813L532.7158961988957,142.387029288523L529.3717914058534,108.51505754104865Z"></path><path class="nv-path-59" d="M552,68.01875864202171L532.1778054955674,95.39733787249672L529.3717914058534,108.51505754104865L532.7158961988956,142.387029288523L552,142.38702928902987Z"></path></g></g></g></g></g></g></g><g class="nv-legendWrap" transform="translate(0,-28)"><g class="nvd3 nv-legend" transform="translate(0,3)"><g transform="translate(413.65576171875,3)"><g class="nv-series" transform="translate(0,5)"><circle r="5" style="stroke-width: 2px; fill: #eac85e; stroke: #eac85e;"></circle><text text-anchor="start" dy=".32em" dx="8">Unique</text></g><g class="nv-series" transform="translate(70.49755859375,5)"><circle r="5" style="stroke-width: 2px; fill: #cf6d51; stroke: #cf6d51;"></circle><text text-anchor="start" dy=".32em" dx="8">Visits</text></g></g></g></g></g></g></svg>
                    </div>
                    <div class="visits-info well well-sm">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <div class="key"><i class="eicon-users"></i> Total Traffic</div>
                                <div class="value">24 541 <i class="fa fa-caret-up color-green"></i></div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="key"><i class="eicon-user"></i> Unique Visits</div>
                                <div class="value">14 778 <i class="fa fa-caret-down color-red"></i></div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="key"><i class="fa fa-plus-square"></i> Revenue</div>
                                <div class="value">$3 583.18 <i class="fa fa-caret-up color-green"></i></div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="key"><i class="fa fa-user"></i> Total Sales</div>
                                <div class="value">$59 871.12 <i class="fa fa-caret-down color-red"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="widget">
                <header>
                    <h4>
                        <i class="fa fa-shopping-cart"></i>
                        Traffic Sources
                        <small>
                            One month tracking
                        </small>
                    </h4>
                </header>
                <div class="body">
                    <table class="table table-striped no-margin sources-table">
                        <thead>
                            <tr>
                                <th class="source-col-header">Source</th>
                                <th>Amount</th>
                                <th>Change</th>
                                <th class="hidden-xs">Percent.,%</th>
                                <th>Target</th>
                                <th class="chart-col-header hidden-xs">Trend</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="label label-important">Direct</span></td>
                                <td>713</td>
                                <td><strong class="color-green">+53</strong></td>
                                <td class="hidden-xs">+12</td>
                                <td>900</td>
                                <td class="chart-cell hidden-xs">
                                    <div id="direct-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="label label-warning">Refer</span></td>
                                <td>562</td>
                                <td><strong>+84</strong></td>
                                <td class="hidden-xs">+64</td>
                                <td>500</td>
                                <td class="chart-cell hidden-xs">
                                    <div id="refer-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="label label-success">Social</span></td>
                                <td>148</td>
                                <td><strong class="color-red">-12</strong></td>
                                <td class="hidden-xs">+3</td>
                                <td>180</td>
                                <td class="chart-cell hidden-xs">
                                    <div id="social-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="label label-info">Search</span></td>
                                <td>653</td>
                                <td><strong class="color-green">+23</strong></td>
                                <td class="hidden-xs">+43</td>
                                <td>876</td>
                                <td class="chart-cell hidden-xs">
                                    <div id="search-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="label label-inverse">Internal</span></td>
                                <td>976</td>
                                <td><strong>+101</strong></td>
                                <td class="hidden-xs">-7</td>
                                <td>844</td>
                                <td class="chart-cell hidden-xs">
                                    <div id="internal-trend"><canvas width="150" height="30" style="display: inline-block; width: 150px; height: 30px; vertical-align: top;"></canvas></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="widget large">
                <header>
                    <h4>
                        <i class="eicon-chat"></i>
                        Chat
                    </h4>
                </header>
                <div class="body">
                    <div id="chat" class="chat">
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 240px;">
                            <div id="chat-messages" class="chat-messages" style="overflow: hidden; width: auto; height: 240px;">
                                <div class="chat-message">
                                    <div class="sender pull-left">
                                        <div class="icon">
                                            <img src="../Content/images/jpeg/2.jpg" class="img-circle" alt="">
                                        </div>
                                        <div class="time">
                                            4 min
                                        </div>
                                    </div>
                                    <div class="chat-message-body">
                                        <span class="arrow"></span>
                                        <div class="sender"><a href="#">Tikhon Laninga</a></div>
                                        <div class="text">
                                            Hey Sam, how is it going? But I must explain to you how all this mistaken
                                            idea of denouncing of a pleasure and praising pain was born
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-message">
                                    <div class="sender pull-right">
                                        <div class="icon">
                                            <img src="../Content/images/jpeg/1.jpg" class="img-circle" alt="">
                                        </div>
                                        <div class="time">
                                            3 min
                                        </div>
                                    </div>
                                    <div class="chat-message-body on-left">
                                        <span class="arrow"></span>
                                        <div class="sender"><a href="#">Cenhelm Houston</a></div>
                                        <div class="text">
                                            Pretty good. Doing my homework..  No one rejects, dislikes, or avoids
                                            pleasure itself, because it is pleasure, but because
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-message">
                                    <div class="sender pull-left">
                                        <div class="icon">
                                            <img src="../Content/images/jpeg/2.jpg" class="img-circle" alt="">
                                        </div>
                                        <div class="time">
                                            2 min
                                        </div>
                                    </div>
                                    <div class="chat-message-body">
                                        <span class="arrow"></span>
                                        <div class="sender"><a href="#">Tikhon Laninga</a></div>
                                        <div class="text">
                                            Any chance to go out? To take a trivial example, which of us ever undertakes
                                            laborious physical exercise, except to obtain some advantage
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-message">
                                    <div class="sender pull-right">
                                        <div class="icon">
                                            <img src="../Content/images/jpeg/1.jpg" class="img-circle" alt="">
                                        </div>
                                        <div class="time">
                                            2 min
                                        </div>
                                    </div>
                                    <div class="chat-message-body on-left">
                                        <span class="arrow"></span>
                                        <div class="sender"><a href="#">Cenhelm Houston</a></div>
                                        <div class="text">
                                            .. Maybe 40-50 mins. I don't know exactly. On the other hand, we denounce
                                            with righteous indignation and dislike men who are so beguiled
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-message">
                                    <div class="sender pull-left">
                                        <div class="icon">
                                            <img src="../Content/images/jpeg/2.jpg" class="img-circle" alt="">
                                        </div>
                                        <div class="time">
                                            1 min
                                        </div>
                                    </div>
                                    <div class="chat-message-body">
                                        <span class="arrow"></span>
                                        <div class="sender"><a href="#">Tikhon Laninga</a></div>
                                        <div class="text">
                                            Anyway sounds great! These cases are perfectly simple and easy to
                                            distinguish.
                                        </div>
                                    </div>
                                </div>
                            </div><div class="slimScrollBar ui-draggable" style="background-color: rgb(0, 0, 0); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; z-index: 99; right: 1px; height: 139.46731234866826px; background-position: initial initial; background-repeat: initial initial;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: block; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-color: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div>
                        </div>
                        <footer class="chat-footer row">
                            <div class="col-xs-9">
                                <input id="new-message" type="text" class="form-control input-transparent" placeholder="Enter your message..">
                            </div>
                            <div class="col-xs-3">
                                <button type="button" id="new-message-btn" class="btn btn-transparent btn-block">Send</button>
                            </div>
                        </footer>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <section class="widget large">
                <header>
                    <h4>
                        <i class="eicon-share"></i>
                        Feed
                    </h4>
                    <div class="actions">
                        <button class="btn btn-transparent btn-xs">Show All <i class="fa fa-arrow-down"></i></button>
                    </div>
                </header>
                <div class="body">
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 280px;">
                        <div id="feed" class="feed" style="overflow: hidden; width: auto; height: 280px;">
                            <div class="wrapper">
                                <div class="vertical-line"></div>
                                <section class="feed-item">
                                    <div class="icon pull-left">
                                        <i class="fa fa-comment"></i>
                                    </div>
                                    <div class="feed-item-body">
                                        <div class="text">
                                            <a href="#">John Doe</a> commented on <a href="#">What Makes Good Code Good</a>.
                                        </div>
                                        <div class="time pull-left">
                                            3 h
                                        </div>
                                    </div>
                                </section>
                                <section class="feed-item">
                                    <div class="icon pull-left">
                                        <i class="fa fa-check color-green"></i>
                                    </div>
                                    <div class="feed-item-body">
                                        <div class="text">
                                            <a href="#">Merge request #42</a> has been approved by <a href="#">Jessica Lori</a>.
                                        </div>
                                        <div class="time pull-left">
                                            10 h
                                        </div>
                                    </div>
                                </section>
                                <section class="feed-item">
                                    <div class="icon pull-left">
                                        <img src="../Content/images/jpeg/14.jpg" class="img-circle" alt="">
                                    </div>
                                    <div class="feed-item-body">
                                        <div class="text">
                                            New user <a href="#">Greg Wilson</a> registered.
                                        </div>
                                        <div class="time pull-left">
                                            Today
                                        </div>
                                    </div>
                                </section>
                                <section class="feed-item">
                                    <div class="icon pull-left">
                                        <i class="fa fa-bolt color-orange"></i>
                                    </div>
                                    <div class="feed-item-body">
                                        <div class="text">
                                            Server fail level raises above normal. <a href="#">See logs</a> for details.
                                        </div>
                                        <div class="time pull-left">
                                            Yesterday
                                        </div>
                                    </div>
                                </section>
                                <section class="feed-item">
                                    <div class="icon pull-left">
                                        <i class="eicon-database"></i>
                                    </div>
                                    <div class="feed-item-body">
                                        <div class="text">
                                            <a href="#">Database usage report</a> is ready.
                                        </div>
                                        <div class="time pull-left">
                                            Yesterday
                                        </div>
                                    </div>
                                </section>
                                <section class="feed-item">
                                    <div class="icon pull-left">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                    <div class="feed-item-body">
                                        <div class="text">
                                            <a href="#">Order #233985</a> needs additional processing.
                                        </div>
                                        <div class="time pull-left">
                                            Wednesday
                                        </div>
                                    </div>
                                </section>
                                <section class="feed-item">
                                    <div class="icon pull-left">
                                        <i class="fa fa-arrow-down"></i>
                                    </div>
                                    <div class="feed-item-body">
                                        <div class="text">
                                            <a href="#">Load more...</a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div><div class="slimScrollBar ui-draggable" style="background-color: rgb(0, 0, 0); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; z-index: 99; right: 1px; height: 195.02487562189057px; background-position: initial initial; background-repeat: initial initial;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: block; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-color: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div>
                    </div>
                </div>
            </section>
            <section class="widget widget-tabs">
                <header>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#stats" data-toggle="tab">Users</a>
                        </li>
                        <li>
                            <a href="#report" data-toggle="tab">Favorites</a>
                        </li>
                        <li>
                            <a href="#dropdown1" data-toggle="tab">Commenters</a>
                        </li>
                    </ul>
                </header>
                <div class="body tab-content">
                    <div id="stats" class="tab-pane active clearfix">
                        <h5 class="tab-header"><i class="fa fa-group"></i> Last logged-in users</h5>
                        <ul class="news-list">
                            <li>
                                <img src="../Content/images/jpeg/1.jpg" alt="" class="pull-left img-circle">
                                <div class="news-item-info">
                                    <div class="name"><a href="#">Finees Lund</a></div>
                                    <div class="position">Product Designer</div>
                                    <div class="time">Last logged-in: Mar 20, 18:46</div>
                                </div>
                            </li>
                            <li>
                                <img src="../Content/images/jpeg/3.jpg" alt="" class="pull-left img-circle">
                                <div class="news-item-info">
                                    <div class="name"><a href="#">Erebus Novak</a></div>
                                    <div class="position">Software Engineer</div>
                                    <div class="time">Last logged-in: Mar 23, 9:02</div>
                                </div>
                            </li>
                            <li>
                                <img src="../Content/images/jpeg/2.jpg" alt="" class="pull-left img-circle">
                                <div class="news-item-info">
                                    <div class="name"><a href="#">Leopoldo Reier</a></div>
                                    <div class="position">Chief Officer</div>
                                    <div class="time">Last logged-in: Jun 6, 15:34</div>
                                </div>
                            </li>
                            <li>
                                <img src="../Content/images/jpeg/13.jpg" alt="" class="pull-left img-circle">
                                <div class="news-item-info">
                                    <div class="name"><a href="#">Frans Garey</a></div>
                                    <div class="position">Financial Assistant</div>
                                    <div class="time">Last logged-in: Jun 8, 17:20</div>
                                </div>
                            </li>
                            <li>
                                <img src="../Content/images/jpeg/14.jpg" alt="" class="pull-left img-circle">
                                <div class="news-item-info">
                                    <div class="name"><a href="#">Jessica Johnsson</a></div>
                                    <div class="position">Sales Manager</div>
                                    <div class="time">Last logged-in: Jun 8, 9:13</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="report" class="tab-pane">
                        <h5 class="tab-header"><i class="fa fa-star"></i> Popular contacts</h5>
                        <ul class="news-list news-list-no-hover">
                            <li>
                                <img src="../Content/images/jpeg/14.jpg" alt="" class="pull-left img-circle">
                                <div class="news-item-info">
                                    <div class="name"><a href="#">Jessica Johnsson</a></div>
                                    <div class="options">
                                        <button class="btn btn-xs btn-success">
                                            <i class="fa fa-phone"></i>
                                            Call
                                        </button>
                                        <button class="btn btn-xs btn-warning">
                                            <i class="fa fa-envelope-o"></i>
                                            Message
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img src="../Content/images/jpeg/13.jpg" alt="" class="pull-left img-circle">
                                <div class="news-item-info">
                                    <div class="name"><a href="#">Frans Garey</a></div>
                                    <div class="options">
                                        <button class="btn btn-xs btn-success">
                                            <i class="fa fa-phone"></i>
                                            Call
                                        </button>
                                        <button class="btn btn-xs btn-warning">
                                            <i class="fa fa-envelope-o"></i>
                                            Message
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img src="../Content/images/jpeg/3.jpg" alt="" class="pull-left img-circle">
                                <div class="news-item-info">
                                    <div class="name"><a href="#">Erebus Novak</a></div>
                                    <div class="options">
                                        <button class="btn btn-xs btn-success">
                                            <i class="fa fa-phone"></i>
                                            Call
                                        </button>
                                        <button class="btn btn-xs btn-warning">
                                            <i class="fa fa-envelope-o"></i>
                                            Message
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img src="../Content/images/jpeg/2.jpg" alt="" class="pull-left img-circle">
                                <div class="news-item-info">
                                    <div class="name"><a href="#">Leopoldo Reier</a></div>
                                    <div class="options">
                                        <button class="btn btn-xs btn-success">
                                            <i class="fa fa-phone"></i>
                                            Call
                                        </button>
                                        <button class="btn btn-xs btn-warning">
                                            <i class="fa fa-envelope-o"></i>
                                            Message
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img src="../Content/images/jpeg/1.jpg" alt="" class="pull-left img-circle">
                                <div class="news-item-info">
                                    <div class="name"><a href="#">Finees Lund</a></div>
                                    <div class="options">
                                        <button class="btn btn-xs btn-success">
                                            <i class="fa fa-phone"></i>
                                            Call
                                        </button>
                                        <button class="btn btn-xs btn-warning">
                                            <i class="fa fa-envelope-o"></i>
                                            Message
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="dropdown1" class="tab-pane">
                        <h5 class="tab-header"><i class="fa fa-comments"></i> Top Commenters</h5>
                        <ul class="news-list">
                            <li>
                                <img src="../Content/images/jpeg/13.jpg" alt="" class="pull-left img-circle">
                                <div class="news-item-info">
                                    <div class="name"><a href="#">Frans Garey</a></div>
                                    <div class="comment">
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                        sed quia
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img src="../Content/images/jpeg/1.jpg" alt="" class="pull-left img-circle">
                                <div class="news-item-info">
                                    <div class="name"><a href="#">Finees Lund</a></div>
                                    <div class="comment">
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                                        eu fugiat.
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img src="../Content/images/jpeg/14.jpg" alt="" class="pull-left img-circle">
                                <div class="news-item-info">
                                    <div class="name"><a href="#">Jessica Johnsson</a></div>
                                    <div class="comment">
                                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                        deserunt.
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img src="../Content/images/jpeg/3.jpg" alt="" class="pull-left img-circle">
                                <div class="news-item-info">
                                    <div class="name"><a href="#">Erebus Novak</a></div>
                                    <div class="comment">
                                        Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium
                                        doloremque.
                                    </div>
                                </div>
                            </li>
                            <li>
                                <img src="../Content/images/jpeg/2.jpg" alt="" class="pull-left img-circle">
                                <div class="news-item-info">
                                    <div class="name"><a href="#">Leopoldo Reier</a></div>
                                    <div class="comment">
                                        Laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis
                                        et quasi.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="widget">
                <header>
                    <h4>
                        <i class="fa fa-magnet"></i>
                        Server Overview
                    </h4>
                </header>
                <div class="body">
                    <ul class="server-stats">
                        <li>
                            <div class="key pull-right">CPU</div>
                            <div class="stat">
                                <div class="info">60% / 37°C / 3.3 Ghz</div>
                                <div class="progress progress-small">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="key pull-right">Mem</div>
                            <div class="stat">
                                <div class="info">29% / 4GB (16 GB)</div>
                                <div class="progress progress-small">
                                    <div class="progress-bar" style="width: 29%;"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="key pull-right">LAN</div>
                            <div class="stat">
                                <div class="info">6 Mb/s <i class="fa fa-caret-down"></i> &nbsp; 3 Mb/s <i class="fa fa-caret-up"></i></div>
                                <div class="progress progress-small">
                                    <div class="progress-bar progress-bar-inverse" style="width: 48%;"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>
@section scripts{
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/dashboard/jqueryplugins")
@Scripts.Render("~/bundles/nvd3")
@Scripts.Render("~/bundles/nvd3models")
@Scripts.Render("~/bundles/backboneunderscore")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/site")
<script src="~/Content/js/index.js"></script>
<script src="~/Content/js/chat.js"></script>
<script type="text/template" id="message-template">
    <div class="sender pull-left">
        <div class="icon">
            <img src="../Content/images/jpeg/2.jpg" class="img-circle" alt="">
        </div>
        <div class="time">
            just now
        </div>
    </div>
    <div class="chat-message-body">
        <span class="arrow"></span>
        <div class="sender">Tikhon Laninga</div>
        <div class="text">
            <%- text %>
        </div>
    </div>
</script>
<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        <div>Background</div>
        <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% dark = background == 'dark'; light = background == 'light';%>
            <button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Dark</button>
            <button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Light</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar on the</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'right'%>
            <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Left</button>
            <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% display = displaySidebar%>
            <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Show</button>
            <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Hide</button>
        </div>
    </div>
</script>
<script type="text/template" id="sidebar-settings-template">
    <% auto = sidebarState == 'auto'%>
    <% if (auto) {%>
    <button type="button"
            data-value="icons"
            class="btn-icons btn btn-transparent btn-sm">
        Icons
    </button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-transparent btn-sm">
        Auto
    </button>
    <%} else {%>
    <button type="button"
            data-value="auto"
            class="btn btn-transparent btn-sm">
        Auto
    </button>
    <% } %>
</script>
    }