@model JDT.Models.Diet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Diet</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">DateCreated</div>
    <div class="display-field">@String.Format("{0:g}", Model.DateCreated)</div>

    <div class="display-label">DateModified</div>
    <div class="display-field">@String.Format("{0:g}", Model.DateModified)</div>

    <div class="display-label">Plans</div>
    <div class="display-field">@(Model.Plans == null ? "None" : Model.Plans.Count.ToString())</div>

    <div class="display-label">Meals</div>
    <div class="display-field">
        @(Model.Recipes
    == null ? "None" : Model.Recipes.Count.ToString())
</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DietId, id1 = ViewBag.PlanId }) |
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.PlanId })
</p>
@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/dashboard/jqueryplugins")
    @Scripts.Render("~/bundles/backboneunderscore")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
}
